@import url('https://fonts.googleapis.com/css2?family=Flamenco&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --blue: #ace9ee;
    --black: #000000;
    --white: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, ul {
    text-decoration: none;
    color: var(--white);
    list-style: none;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
}


.container {
    background-color: var(--blue);
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    font-family: 'Flamenco', cursive;
    background-color: var(--black);
}

#logo {
    font-size: 30px;
    display: flex;
    align-items: center;
    color: var(--white);
    text-transform: uppercase;
}

.menu-wrapper {
    display: flex;
    align-items: center;  
}
.menu {
    margin-left: 30px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: var(--white);

}

.menu a:hover {
    color: var(--blue);
}

main {
    height: 380px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--black);
}

main img {
    width: 300px;
    height: 300px;
    margin: 30px 10px 10px 0;
    border: 1px solid var(--white);
}

main img:hover {
    width: 320px;
    height: 320px;
    transition: 1s ease;
}

.container-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 80px;
}


.servicos, .contato {
    display: flex;
    flex-direction: column;  
    margin: 40px 0px 0 0;
    font-family: 'Montserrat', sans-serif;
    width: 300px;
}

.servicos ul li {
    margin: 20px 0;
    cursor: pointer;
    color: var(--black);
   
}

.servicos ul li:hover {
    color: var(--blue);
}

.servicos img {
    width: 150px;
    height: 150px;
    margin-left: 10%;
}

i {
    margin-right: 10px;
    
}

.contato ul li {
    margin: 20px 0;
    cursor: pointer;
    color: var(--black);
    position: relative;
    top: -190px;
    left: 80%
}
.contato img {
    width: 200px;
    height: 200px;
    border: 1px solid var(--black);
    margin: 20px 0;
}

.contato ul li:hover {
    color: var(--blue);
}

footer {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--black);
    color: var(--white);
    height: 280px;
}

.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container-footer p {
    align-self: center;
}

iframe {
    margin-top: 32px;
}